[user]
    email = me@azeemba.com
    name = Azeem Bande-Ali
[push]
    default = simple
[color]
    ui = true

[alias]
    logs = log --stat
    me = log --author="Azeem Bande-Ali"
[core]
    editor = vim
